:root {
  --pt-font-text-normal: "HarmonyOS_SansSC";
  --pt-size-text-normal: 14px;
  --pt-header-height: 40px;
  --pt-header-icon-size: 20px;
  --pt-main-asside-width: 40px;
  --pt-article-padding: 10px;
}
