@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("@content/assets/font/HarmonyOS_Sans/HarmonyOS_SansSC_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --pt-font-text-normal: "HarmonyOS Sans";
  --pt-size-text-normal: 14px;
  --pt-header-height: 40px;
  --pt-header-icon-size: 20px;
  --pt-main-asside-width: 40px;
  --pt-article-padding: 10px;
}
