* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--pt-font-text-normal), "Microsoft YaHei UI", sans-serif;
  font-size: var(--pt-size-text-normal);
  color: var(--pt-color-theme-text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.flex-item-frozen-size {
  flex-grow: 0;
  flex-shrink: 0;
}
